@font-face {
  font-family: "official";
  src: url("C:/Users/HP/Documents/Semester 7/MPPL/Projek/official/OfficialBook.ttf");
}

.shadow {
  border-radius: 15px;
  align-items: center;
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.form-control,
.btn {
  border-radius: 30px;
}

.form-control {
  stroke: #d8d8d8;
  align: Inside;
}

form {
  margin-top: 0.5cm;
}

.form-control {
  font-family: "official";
  font-style: regular;
  font-size: 18px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Bottom;
  letter-spacing: 5%;
  color: #d8d8d8;
}

.btn {
  width: 194px;
  height: 42px;
  font-family: "official";
  font-style: Regular;
  font-size: 19px;
  line-height: 100%;
  align: Center;
  letter-spacing: 5%;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  margin-top: 19px;
  margin-bottom: 15px;
}

.btn-danger {
  background: #b1403a;
}

.text-muted {
  margin-left: -10px;
  margin-top: -8px;
  padding-bottom: 8px;
  line-height: 100%;
  text-align: center;
  vertical-align: Bottom;
  letter-spacing: 5%;
  color: #000000;
}

p {
  font-family: "official";
  font-style: Regular;
  font-size: 16px;
}

.p-6 {
  margin-top: 10px;
  margin-bottom: -20px;
}

.container {
  color: white;
  align-items: center;
}

.form-check {
  display: inline-block;
}

a {
  color: #b1403a;
  text-decoration: none;

  &:hover {
    color: #0000;
  }
}

.btn {
  color: white !important;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    background-color: #ffffff;
  }
}

button {
  margin-top: 1cm;
}

.col-25,
.col-75 {
  width: 50%;
  margin-top: 5px;
}

.rowg1 {
  padding-top: 7px;
}

.row {
  padding-top: 5px;
}

.form-check-label {
  font-size: 19px;
}

h5 {
  justify-content: center;
  top: 8px;
  font-family: "official";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.05em;
  color: #000000;
}

label {
  font-family: "official";
  font-style: regular;
  font-size: 19px;
  line-height: 100%;
  text-align: left;
  vertical-align: Bottom;
  letter-spacing: 5%;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
}

.col-lg-6 {
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.col-lg-5 {
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.responsive img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.6cm;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }

  .btn {
    margin-top: 50px;
    font-family: "official";
    font-style: Regular;
    font-size: 22px;
    line-height: 100%;
    align: Center;
    letter-spacing: 5%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: auto;
  }

  .text-muted {
    margin-top: -0.2cm;
    text-align: center;
  }

  .col-25,
  .col-75 {
    margin-top: 0.15cm;
    margin-bottom: 7px;
    letter-spacing: 5%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: auto;
  }

  .col1 {
    letter-spacing: 5%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: auto;
  }

  .rowg1 {
    margin-top: -0.25cm;
    letter-spacing: 5%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: auto;
  }

  .container {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  h5 {
    margin-top: -10px;
  }

  .row {
    margin-top: -0.35cm;
  }

  .responsive img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 1cm;
    max-height: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width: 912px) {
  .responsive img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
    margin-top: -1cm;
    max-height: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .responsive img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
    margin-top: -2cm;
    max-height: 300px;
    max-width: 300px;
  }
}
